body {
	color: #000000;
	background: #ffffff;
}
.Chord {
	color: #900;
	background: none;
	font-weight: bold;
}

.SongWords {
	color: #000000;
	font-weight: normal;
}

.SongPart {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 10px;
}

.PartRepeat {
	color: #000000;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.Song {
	color: #000000;
	text-align: left;
}
#SongHeader, #SongFooter, #CopyYear, p {
	color: #000000;
}

/* ChordPRO HTML */
.choproChorus 
{ 
	border-left: 2px solid silver;
	margin-left: 30px;
	padding-left: 5px;
} 
.choproTab 
{ 
	font-family: monospace;
} 
.choproComment 
{ 
	font-weight: bold; 
} 
.choproGuitarComment
{ 
	font-weight: bold; 
	font-style: italic; 
} 
.choproChord 
{ 
	font-weight: bold;
}       
.choproLyric
{ 
}
